<h1>dernière review</h1>
<div class="d-flex" *ngIf="innerWidth >= 576">
  <div class="card flex-row" *ngFor="let review of boardgame.reviews">
    <div class="card-body">
      <h5 class="card-title">{{ review.title }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">par {{ review.user.username }}</h6>
      <p class="card-text">{{ review.text }}</p>
    </div>
  </div>
</div>
<div class="card flex-row" *ngIf="innerWidth < 576">
  <div class="card-body">
    <h5 class="card-title">{{ boardgame.reviews[0].title }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">par {{ boardgame.reviews[0].user.username }}</h6>
    <p class="card-text">{{ boardgame.reviews[0].text }}</p>
  </div>
</div>
