<div class="col d-flex flex-column w-100">
  <h1>Connexion</h1>
  <div class="w-100 d-flex flex-column align-self-center h-100">
    <form class="d-flex flex-column" action="">
      <input class="form-control my-2" type="text">
      <input class="form-control my-2" type="password">
      <button class="btn secondary-green align-self-center" type="submit">Envoyer</button>
    </form>
    <button class="btn secondary-green align-self-center hide-lg" [routerLink]="['/register']" routerLinkActive="router-link-active">Inscription</button>
  </div>
  <button class="btn primary-green align-self-start" (click)="goBack()">Retour</button>
</div>
